[Desktop Entry]
Version=1.0
Name=Shutdown
Comment=This is a turret test app
Exec=bash -c 'source ~/Desktop/command_center/shutdown.sh;$SHELL'
Icon=utilities-terminal
Terminal=true 
Type=Application
Categories=Application;
