[Desktop Entry]
Version=1.0
Name=Visualization
Comment=This app runs rviz for pgbot
Exec=bash -c 'source ~/Desktop/command_center/run_rviz.sh;$SHELL'
Icon=utilities-terminal
Terminal=true 
Type=Application
Categories=Application;
X-GNOME-Autostart-Delay=20
